.mediaViewInfo {
	--web-view-name: DBMS Home;
	--web-view-id: DBMS_Home;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: DBMS_Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#DBMS_Home {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: DBMS Home;
	--web-view-id: DBMS_Home;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
#ribbon {
	fill: rgba(92,43,107,1);
}
.ribbon {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#background {
	fill: rgba(255,255,255,1);
}
.background {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 941px;
	left: 0px;
	top: 139px;
}
#ID3d-flame-101 {
	position: absolute;
	width: 417px;
	height: 792px;
	left: 1437px;
	top: 214px;
	overflow: visible;
}
#Welcome {
	left: 100px;
	top: 314px;
	position: absolute;
	overflow: visible;
	width: 981px;
	white-space: nowrap;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 193px;
	color: rgba(74,9,106,1);
}
#navbar {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.navbar {
	position: absolute;
	overflow: visible;
	width: 554px;
	height: 75px;
	left: 1130px;
	top: 32px;
}
#navbar_text {
	left: 1171px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 474px;
	white-space: nowrap;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(74,9,106,0.239);
}
#HOME {
	left: 284px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#VIEW_SCHEDULE {
	left: 445px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 310px;
	white-space: nowrap;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#SUBSCRIBE {
	left: 800px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#user_pic {
	position: absolute;
	width: 87px;
	height: 85px;
	left: 1767px;
	top: 27px;
	overflow: visible;
}
#subtext {
	left: 155px;
	top: 554px;
	position: absolute;
	overflow: visible;
	width: 753px;
	white-space: nowrap;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(93,93,93,1);
}
#vod_button {
	fill: rgba(92,43,107,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.vod_button {
	position: absolute;
	overflow: visible;
	width: 419px;
	height: 87px;
	left: 139px;
	top: 681px;
}
#mod_button {
	fill: rgba(92,43,107,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.mod_button {
	position: absolute;
	overflow: visible;
	width: 419px;
	height: 87px;
	left: 642px;
	top: 681px;
}
#VOD_SERVICE {
	left: 217.5px;
	top: 705px;
	position: absolute;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#MODIFY_SCHEDULE {
	left: 671.5px;
	top: 705px;
	position: absolute;
	overflow: visible;
	width: 361px;
	white-space: nowrap;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#logo {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 122px;
	top: 16px;
	overflow: visible;
}
