<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h1>Dbms Project</h1>


<br><br>
<form name="passdata" action="." method="post">
<label>cname</label>
<input type="text" name="cname">
<label>ph_no</label>
<input type="text" name="ph_no">
<label for="p_type">choose your package type</label>
<select name="p_type" id="p_type" size="5">
	
	<option value="Silver">Silver</option>
	<option value="Gold">Gold</option>
	<option value="Platinum">Platinum</option>
	<option value="Diamond">Diamond</option>
	<option value="Classic">Classic</option>
<input type="submit" value="submit">


</form>
</body>
</html>