<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DBMS Home</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="index.css"/>
</head>
<body>
	<div id="DBMS_Home">
	<svg class="ribbon">
		<rect id="ribbon" rx="0" ry="0" x="0" y="0" width="1920" height="139">
		</rect>
	</svg>
	</div>
<h1>{{cname}}</h1>
<h1>{{ph_no}}</h1>
<h1>{{p_type}}</h1>
<h1>{{alist}}</h1>
<h1>{{blist}}</h1>
<h1>{{clist}}</h1>
<h1>{{dlist}}</h1>
<h1>{{elist}}</h1>
</body>
</html>